/* reset css */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 20px;
    backdrop-filter: blur(10px);
    background-color: rgb(255, 255, 255);
    position: relative;
    top: 0;
    height: 110px;
    width: auto;
}

a{
    text-decoration: none;
    color: #cb6228;
}

a:hover{
    color: #f0cfb3;
}

.container-header {
    background-color: rgba(255, 235, 205, 0.507);
    min-height: 0;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.navegacao {
    display: flex;
}

.navegacao > a {
    padding-left: 25px;
}

.registro{
    margin-left: 30px;
    padding-right: 25px;
}

.imagem-logo {
    width: 220px;
}
