/* reset css */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    background-color: rgb(30, 255, 0);
    padding: 60px;

}

.titulo-contato{
    background-color: blue;
    text-align: center;
    padding: 15px;
    margin-bottom: 10px;
}

.contatos{
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    border: 2px;
    border-radius: 10px;
    border-style: solid;
    box-shadow: 0 4px 30px rgb(0, 0, 0);
    backdrop-filter: blur(3.4px);
    -webkit-backdrop-filter: blur(3.4px);
}

.integrantes{
    background-color: rgb(255, 194, 114);
    text-align: center;
    /* display: flex; */
    border: 1px;
    border-radius: 10px;
    border-style: solid;
    padding: 5px;
    /* margin-inline: 20px; */
    /* margin-block-start: 25px; */
}
.integrantes:hover{
    background-color: blue;
    
}

.foto-integrantes{
    width: 200px;
    height: 200px;
    border-radius: 10px;
}