/* reset css */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'McLaren', cursive;
}

body {
    background-color: #d16822;
}

main {
    height: 100vh;
}
.container{
    /* background-color: rgb(30, 255, 0); */
    padding: 60px;
    font-family: 'Josefin Sans', sans-serif;

}

.titulo-contato{
    /* background-color: blue; */
    text-align: center;
    padding: 15px;
    margin-bottom: 10px;
}

.contatos{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 30px rgb(255, 189, 89);
    backdrop-filter: blur(3.4px);
    -webkit-backdrop-filter: blur(3.4px);
    box-shadow: 1px 2px 2px 2px rgba(0, 0, 0, 0.4);
}

h4{
    padding: 2px;
}

.integrantes{
    background-color: rgb(255, 194, 114);
    text-align: center;
    /* display: flex; */
    border: 1px;
    border-radius: 10px;
    border-style: solid;
    padding: 5px;
    /* margin-inline: 20px; */
    /* margin-block-start: 25px; */
}
.integrantes:hover{
    background-color: blue;
    
}

.foto-integrantes{
    margin-bottom: 5px;
    width: 200px;
    height: 200px;
    border-radius: 10px;
}

.icones-sociais{
    margin-top: 7px;
    width: 30px;
    height: 30px;
}

.icones-sociais:hover{
    color: aqua;
    
}
