@charset "UTF-8";

/* Ajuste geral */
* {
    padding: 0px;
    font-family: 'McLaren', cursive;
    box-sizing: border-box;
}

body {
    background-color: #d16822;
}

/* ---------------- */

/* Estilização da página de registro */
main {
    height: 100vh;
}

.registro {
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box-father-registro {
    margin: 15px;
    height: max-content;
    margin-top: 80px;
    margin-bottom: 100px;
    margin-left: 400px;
    margin-right: 400px;
    width: max-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 235, 205, 0.507);
    padding: 30px;
    box-shadow: 1px 2px 2px 3px rgba(0, 0, 0, 0.4);
}

.box-child-registro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 18px;
}

.box-father-registro {
    border-radius: 20px;
}

.box-registro input {
    border-radius: 10px;
    width: 300px;
    height: 30px;
    padding-left: 5px;
    border: none
}

.box-registro-button button {
    background-color: #c107ff;
    font-size: 20px;
    width: 150px;
    border: none;
    border-radius: 30px;
}


/* ------------------ */