/* reset css */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    font-family: 'McLaren', cursive;
    font-size: 20px;
    backdrop-filter: blur(10px);
    background-color: rgb(255, 255, 255);
    position: relative;
    top: 0;
    height: 10vh;
    width: auto;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.4);
}

a{
    text-decoration: none;
    color: #cb6228;
}

a:hover{
    color: #b18662;;
}

.container-header {
    background-color: rgba(255, 235, 205, 0.507);
    min-height: 0;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.navegacao {
    display: flex;
}

.navegacao > a {
    padding-left: 25px;
}

.registro{
    margin-left: 30px;
    padding-right: 25px;
}

.imagem-logo {
    margin-top: 8px;
    width: 200px;
}

